{% extends './base.html' %}

<!-- header -->
{% block header %}

{% endblock %}

<!-- main -->
{% block content %}
<a href="/app1/page1"><img src="/static/app1/css/images/Map/Map_Small.png" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 15px;"></a>

<img src="/static/app1/css/images/My Page/My Page_Ellipse.png" style="position: absolute; left: 20px; top: 70px">

<img src="/static/app1/css/images/My Page/My Page__Headline.png" style="position: absolute; left: 115px; top: 90px">

<img src="/static/app1/css/images/My Page/My Page_Overal Result.png" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 180px;">

<img src="/static/app1/css/images/My Page/My Page_History Section.png" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 390px;">


<div style="background: linear-gradient(#6d4abd, rgb(41, 4, 63));  width: 375px; height:  335px; border-radius: 0px 0px 20px 20px"></div>


{% endblock %}

<!-- footer -->