{% extends './base.html' %}

<!-- header -->
{% block header %}

{% endblock %}

<!-- main -->
{% block content %}
<img src="/static/app1/css/images/Home/Home_Level Overal.png" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 30px;">
<img src="/static/app1/css/images/Home/Home_Headline.png" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 180px;">
<img src="/static/app1/css/images/Home/Home_Icon.png" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 180px;">
{% endblock %}

<!-- footer -->
